*~
Makeconf
Makefile
Makedeps
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m
/SVN-REVISION
/SVN-REVISION-tmp
/config.log
/config.status
/etc/Renviron
/etc/javaconf
/etc/ldpaths
/doc/FAQ
/doc/RESOURCES
/doc/html/Makefile
/doc/html/index.html
/doc/html/resources.html
/lib
/library
/bin
/modules
/libtool
/include
*.so
*.o
*.d
*.a
*.ts
src/library/Recommended
all.R
/src/scripts/R.fe
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/unix/Rscript
/src/main/R.bin
/src/include/R_ext/stamp-R
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/config.h
/src/include/stamp-R
/src/include/stamp-h
DESCRIPTION