*~
Makeconf
Makefile
Makedeps
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m
/SVN-REVISION-tmp
/config.log
/config.status
/etc/Renviron
/etc/javaconf
/etc/ldpaths
/doc/FAQ
/doc/RESOURCES
/doc/html/Makefile
/doc/html/index.html
/doc/html/resources.html
/lib
/library
/bin
/modules
/libtool
/include
*.so
*.o
*.d
*.a
*.ts
src/library/Recommended
all.R
/src/scripts/R.fe
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/unix/Rscript
/src/main/R.bin
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/config.h
DESCRIPTION
/NEWS
/NEWS.pdf
/doc/NEWS.rds
/doc/R.1
/doc/html/NEWS.html
/doc/html/packages.html
/doc/manual/R-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/version.texi
/etc/Makeconf.old
/etc/ldpaths.old
*.inn
stamp-*
